{% extends "webapp_0/base.html" %}

{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}



{% block content %}
{% main_menu template="webapp_0/header_landscape.html" %}
<div id="wrapper">
    <!-- content -->	
    <div class="content">
        <!--bottom-filter-wrap-->	

        <div class="ff_panel-conainer fl-wrap">
            <!-- portfolio start -->
            <div class="gallery-items min-pad   four-column fl-wrap lightgallery">
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image scale-100 as F1 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F1.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F1.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_2 scale-100 as F2 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F2.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F2.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_3 scale-100 as F3 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F3.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F3.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_4 scale-100 as F4 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F4.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F4.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_5 scale-100 as F5 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F5.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F5.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_6 scale-100 as F6 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F6.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F6.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_7 scale-100 as F7 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F7.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F7.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_8 scale-100 as F8 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F8.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F8.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_9 scale-100 as F9 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F9.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F9.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_10 scale-100 as F10 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F10.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F10.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_11 scale-100 as F11 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F11.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F11.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_12 scale-100 as F12 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F12.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F12.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_13 scale-100 as F13 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F13.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F13.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_14 scale-100 as F14 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F14.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F14.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_15 scale-100 as F15 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F15.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F15.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_16 scale-100 as F16 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F16.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F16.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_17 scale-100 as F17 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F17.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F17.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_18 scale-100 as F18 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F18.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F18.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_19 scale-100 as F19 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F19.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F19.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_20 scale-100 as F20 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F20.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F20.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_21 scale-100 as F21 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F21.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F21.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_22 scale-100 as F22 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F22.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F22.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_23 scale-100 as F23 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F23.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F23.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_24 scale-100 as F24 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F24.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F24.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_25 scale-100 as F25 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F25.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F25.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_26 scale-100 as F26 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F26.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F26.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_27 scale-100 as F27 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F27.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F27.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_28 scale-100 as F28 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F28.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F28.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_29 scale-100 as F29 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F29.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F29.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_30 scale-100 as F30 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F30.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F30.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_31 scale-100 as F31 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F31.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F31.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_32 scale-100 as F32 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F32.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F32.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_33 scale-100 as F33 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F33.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F33.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_34 scale-100 as F34 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F34.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F34.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_35 scale-100 as F35 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F35.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F35.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_36 scale-100 as F36 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F36.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F36.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_37 scale-100 as F37 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F37.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F37.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_38 scale-100 as F38 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F38.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F38.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_39 scale-100 as F39 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F39.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F39.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_40 scale-100 as F40 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F40.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F40.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_41 scale-100 as F41 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F41.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F41.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_42 scale-100 as F42 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F42.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F42.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_43 scale-100 as F43 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F43.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F43.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_44 scale-100 as F44 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F44.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F44.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_45 scale-100 as F45 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F45.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F45.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_46 scale-100 as F46 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F46.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F46.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_47 scale-100 as F47 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F47.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F47.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_48 scale-100 as F48 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F48.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F48.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_49 scale-100 as F49 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F49.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F49.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
                <!-- gallery-item -->
                {% for item in page.galleria_4.all %}
                    {% image item.image_50 scale-100 as F50 %}
                    <div class="gallery-item {{ item.category|default:'nature' }}">
                        <div class="grid-item-holder hov_zoom">
                            <img src="{{ F50.url }}" alt="{{ item.title|default:'Image' }}">
                            <a href="{{ F50.url }}" class="box-media-zoom popup-image"><i class="fal fa-search"></i></a>
                        </div>
                    </div>
                {% endfor %}
            
                <!-- gallery-item end -->
            </div>
            <!-- portfolio end -->
        </div>
    </div>
    <!--content end-->	
    <!--share-wrapper-->
    <div class="share-wrapper">
        <div class="share-container fl-wrap  isShare"></div>
    </div>
    <!--share-wrapper end-->
</div>
{% endblock %}
           