{% extends "webapp_0/base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}

{% block content %}
{% main_menu template="webapp_0/header.html" %}

<div class="content full-height">
    <!--home-main_container-->	
    <div class="home-main_container">
        <!--follow-wrap-->

        <!--follow-wrap end-->
        <!--home-main_title-->
        <div class="home-main_title">
            <div class="home-main_title_item">
                <h4>Photographer and publisher director </h4>
                <h2>Juan Silva</h2>
                <p>{{page.title_ini | richtext }} </p>
                <a href="{% slugurl 'myblog' %}" class="btn fl-btn">About my Work</a>
            </div>
        </div>
        <div class="slide-progress-wrap"><div class="slide-progress"></div></div>
        <!--home-main_title end-->
        <div class="slider-mask"></div>
        <!--multi-slideshow-wrap_1 -->
        <div class="multi-slideshow-wrap_1 ms-wrap">
            <div class="full-height fl-wrap">
                <!--ms-container-->
                <div class="multi-slideshow_1 ms-container fl-wrap full-height">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms_item fl-wrap">
                                    {% for item in page.galleria.all %}
                                    {% image item.image scale-100 as F1 %}
                                    <div class="bg" data-bg="{{ F1.url }}"></div>
                                    {% endfor %}
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <!--ms_item end-->
                            <!--ms_item-->
                            <div class="swiper-slide ">
                                <div class="ms_item fl-wrap kenburns ">
                                    {% for item in page.galleria.all %}
                                    {% image item.image_2 scale-100 as F2 %}
                                    <div class="bg" data-bg="{{ F2.url }}"></div>
                                    {% endfor %}
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <!--ms_item end-->
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms_item fl-wrap">
                                    {% for item in page.galleria.all %}
                                    {% image item.image_3 scale-100 as F3 %}
                                    <div class="bg" data-bg="{{ F3.url }}"></div>
                                    {% endfor %}
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <!--ms_item end-->                                                 
                        </div>
                    </div>
                </div>
                <!--ms-container end-->
            </div>
        </div>
        <!--multi-slideshow-wrap_1 end-->
        <!--multi-slideshow-wrap_2-->
        <div class="multi-slideshow-wrap_2">
            <div class="full-height fl-wrap">
                <!--ms-container-->
                <div class="multi-slideshow_2 ms-container fl-wrap full-height">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms_item2 fl-wrap">
                                    {% for item in page.galleria.all %}
                                    {% image item.image_4 scale-100 as F4 %}
                                    <div class="bg" data-bg="{{ F4.url }}"></div>
                                    {% endfor %}
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <!--ms_item end-->
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms_item2 fl-wrap">
                                    {% for item in page.galleria.all %}
                                    {% image item.image_5 scale-100 as F5 %}
                                    <div class="bg" data-bg="{{ F5.url }}"></div>
                                    {% endfor %}
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <!--ms_item end-->
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms_item2 fl-wrap kenburns ">
                                    {% for item in page.galleria.all %}
                                    {% image item.image_6 scale-100 as F6 %}
                                    <div class="bg" data-bg="{{ F6.url }}"></div>
                                    {% endfor %}
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <!--ms_item end-->                                                 
                        </div>
                    </div>
                </div>
                <!--ms-container end-->                
            </div>
        </div>
        <!--multi-slideshow-wrap_2 end-->
        <!--multi-slideshow-wrap_3-->
        <div class="multi-slideshow-wrap_3">
            <div class="full-height fl-wrap">
                <!--ms-container-->
                <div class="multi-slideshow_3 ms-container fl-wrap full-height">
                    <div class="swiper-container" dir="rtl">
                        <div class="swiper-wrapper">
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms_item3 fl-wrap kenburns">
                                    {% for item in page.galleria.all %}
                                    {% image item.image_7 scale-100 as F7 %}
                                    <div class="bg" data-bg="{{ F7.url }}"></div>
                                    {% endfor %}
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <!--ms_item end-->
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms_item3 fl-wrap">
                                    {% for item in page.galleria.all %}
                                    {% image item.image_8 scale-100 as F8 %}
                                    <div class="bg" data-bg="{{ F8.url }}"></div>
                                    {% endfor %}
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <!--ms_item end-->
                            <!--ms_item-->
                            <div class="swiper-slide">
                                <div class="ms_item3 fl-wrap">
                                    {% for item in page.galleria.all %}
                                    {% image item.image_9 scale-100 as F9 %}
                                    <div class="bg" data-bg="{{ F9.url }}"></div>
                                    {% endfor %}
                                    <div class="overlay"></div>
                                </div>
                            </div>
                            <!--ms_item end-->                                                 
                        </div>
                    </div>
                </div>
                <!--ms-container end-->   
            </div>
        </div>
        <!--multi-slideshow-wrap_3 end-->
    </div>
    <!--home-main_container end-->	
</div>

{% endblock %}