{% extends "webapp_0/base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}

{% block content %}
{% main_menu template="webapp_0/header.html" %}
<div class="content">
    <div class="column-image">
        {% image page.image fill-250x250 as portada %}
        <div class="bg" data-bg="{{ portada.url }}"></div>
        <div class="overlay"></div>
        <div class="column-title">
            <h2>{{ page.title_ini | richtext }}</h2>
            <h3>{{ page.subtitle_ini | richtext }}</h3>
            <p>Juan Silva</p>
        </div>
        {% for post in blogpages %}
        <div class="post fl-wrap fw-post">
            <h2><span>{{ post.title | richtext }}</span></h2>
            <ul class="blog-title-opt">
                <li><a href="#">{{ post.specific.date }}</a></li>
                <li> - </li>
                <li>
                    {% for tag in blog_page.tags.all %}
                        <a href="{% url 'blog_tag' tag.slug %}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </li>
                <li><a href="#">Design</a></li>
            </ul>
            <div class="blog-media fl-wrap">
                {% image blog_page.image fill-250x250 as post_portada %}
                <img src="{{ post_portada.url }}" class="respimg" alt="">
            </div>
            <div class="blog-text fl-wrap">
                <div class="pr-tags fl-wrap">
                    <span>Tags : </span>
                    <ul>
                        {% for tag in blog_page.tags.all %}
                            <li><a href="{% url 'blog_tag' tag.slug %}">{{ tag.slug }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <p>
                    {% for block in blog_page.body %}
                        {% if block.block_type == 'heading' %}
                          <h3>{{ block.value }}</h3>
                        {% elif block.block_type == 'paragraph' %}
                          <p>{{ block.value }}</p>
                      
                        {% endif %}
                    {% endfor %}
                </p>
                <a href="{{ blog_page.url }}" class="btn float-btn flat-btn">Read more</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="column-wrapper single-content-section">
        <div class="fixed-bottom-content">
            <!-- pagination   -->
            <div class="pagination-container fl-wrap">
                <a href="#" class="prevposts-link"><i class="fal fa-chevron-left"></i></a>
                <a href="#">1</a>
                <a href="#" class="current-page">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#" class="nextposts-link"><i class="fal fa-chevron-right"></i></a>
            </div>
            <!-- pagination  end -->
        </div>
        
        <section class="single-content-section">
            <div class="container small-container">
                {% for post in blogpages %}
                <div class="post fl-wrap fw-post">
                    
                    <h2><span>{{ post.title | richtext }}</span></h2>
                    <ul class="blog-title-opt">
                        <li><a href="#">{{ post.specific.date }}</a></li>
                        <li> - </li>
                        {{ post.intro | richtext }}
                        <li><a href="#">Interviews </a></li>
                        <li><a href="#">Design</a></li>
                    </ul>
                    <!-- blog media -->
                    <div class="blog-media fl-wrap">
                        <img src="images/folio/1.jpg" class="respimg" alt="">
                    </div>
                    <!-- blog media end -->
                    <div class="blog-text fl-wrap">
                        <div class="pr-tags fl-wrap">
                            <span>Tags : </span>
                            <ul>
                                {% for tag in post.tags.all %}
                                    <li><a href="{% url 'blog_tag' tag.slug %}">{{ post.slug }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        <p>
                            {{post.intro | richtext }}
                            {% for block in post.body %}
                            {% if block.block_type == 'heading' %}
                              <h3>{{ block.value }}</h3>
                            {% elif block.block_type == 'paragraph' %}
                              <p>{{ block.value }}</p>
                          
                            {% endif %}
                        {% endfor %}
                        </p>
                        <a href="{% pageurl post %}" class="btn float-btn flat-btn">Read more </a>
                    </div>
                </div>
                {% endfor %}
                <!-- post end-->
            </div>
        </section>
    </div>
</div>
{% endblock %}