{% extends "webapp_0/base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load widget_tweaks %}
{% load static %}
{% load menu_tags %}

{% block content %}
{% main_menu template="webapp_0/header.html" %}

<div id="wrapper">

<div class="column-image">
    {% image page.image fill-250x250 as portada %}
    <div class="bg"  data-bg="{{ portada.url }}"></div>
    <div class="overlay"></div>
    <div class="column-title">
        <a href="{% pageurl page.get_parent %}"> <h2><i class="fal fa-camera"></i>My Journey</h2></a>
    </div>

    <div class="fixed-column-dec"></div>
</div>
<!-- column-image end  -->	
<!-- column-wrapper -->	
<div class="column-wrapper single-content-section">
    <!--fixed-bottom-content -->	
   
    <!--fixed-bottom-content end  -->	
    <!--section  -->	
     <section class="single-content-section">
        <div class="container small-container">
            <!-- post -->
            <div class="post fl-wrap fw-post single-post ">
                <h2><span>{{ page.title }}</span></h2>
                <ul class="blog-title-opt">
                    <li><a href="#">{{ page.date }}</a></li>
                    {% for tag in page.tags.all %}
                    <li> - </li>
                    <li><a href="#">{{ tag.name }} </a></li>
                    {% endfor %}
                    <li><a href="#">Design</a></li>
                    <li> - </li>
                    <li><a href="#"><span class="author_avatar"> </span>Juan Silva</a></li>
                </ul>
                <!-- blog media -->
                <div class="blog-media fl-wrap">
                    <div class="single-slider-wrap">
                        <div class="single-slider fl-wrap">
                            <div class="swiper-container">
                                             
                                <div class="swiper-wrapper lightgallery"> 
                                    
                                    <div class="swiper-slide hov_zoom">
                                        {% for item in page.galleria.all %}  
                                        {% image item.image_2 scale-100 as F1 %}
                                        <img src="{{ F1.url }}" alt="">
                                        <a href="{{ F1.url }}" class="box-media-zoom   popup-image">
                                            <i class="fal fa-search">
                                            </i>
                                        </a> 
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-slide hov_zoom">
                                        {% for item in page.galleria.all %}  
                                        {% image item.image_3 scale-100 as F2 %}
                                        <img src="{{ F2.url }}" alt="">
                                        <a href="{{ F2.url }}" class="box-media-zoom   popup-image">
                                            <i class="fal fa-search">
                                            </i>
                                        </a> 
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-slide hov_zoom">
                                        {% for item in page.galleria.all %}  
                                        {% image item.image_4 scale-100 as F3 %}
                                        <img src="{{ F3.url }}" alt="">
                                        <a href="{{ F3.url }}" class="box-media-zoom   popup-image">
                                            <i class="fal fa-search">
                                            </i>
                                        </a> 
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-slide hov_zoom">
                                        {% for item in page.galleria.all %}  
                                        {% image item.image_5 scale-100 as F4 %}
                                        <img src="{{ F4.url }}" alt="">
                                        <a href="{{ F4.url }}" class="box-media-zoom   popup-image">
                                            <i class="fal fa-search">
                                            </i>
                                        </a> 
                                        {% endfor %}
                                    </div>
                                    <div class="swiper-slide hov_zoom">
                                        {% for item in page.galleria.all %}  
                                        {% image item.image_6 scale-100 as F5 %}
                                        <img src="{{ F5.url }}" alt="">
                                        <a href="{{ F5.url }}" class="box-media-zoom   popup-image">
                                            <i class="fal fa-search">
                                            </i>
                                        </a> 
                                        {% endfor %}
                                    </div>

                                    <div class="swiper-slide hov_zoom">
                                        {% for block in GaleriadeImagenesBlog.video %}
                                        {% if block.block_type == 'video' %}
        <video controls>
            <source src="{{ block.value.file.url }}" type="video/mp4">
            Tu navegador no soporta la reproducción de videos MP4.
        </video>
    {% endif %}
{% endfor %}
                                    </div>

                                    <div class="swiper-slide hov_zoom">
                                        {% for block in GaleriadeImagenesBlog.video_2 %}
                                        {% if block.block_type == 'video' %}
        <video controls>
            <source src="{{ block.value.file.url }}" type="video/mp4">
            Tu navegador no soporta la reproducción de videos MP4.
        </video>
    {% endif %}
{% endfor %}
                                    </div>
                                    <div class="swiper-slide hov_zoom">
                                        {% for block in GaleriadeImagenesBlog.video_3 %}
                                        {% if block.block_type == 'video' %}
        <video controls>
            <source src="{{ block.value.file.url }}" type="video/mp4">
            Tu navegador no soporta la reproducción de videos MP4.
        </video>
    {% endif %}
{% endfor %}
                                    </div>
                                   
                                </div>
                               
                            </div>
                        </div>
                        
                        <div class="ss-slider-pagination_wrap">
                            <div class="ss-slider-pagination"></div>
                        </div>
                        <div class="ss-slider-cont ss-slider-cont-prev color-bg"><i class="fal fa-long-arrow-left"></i></div>
                        <div class="ss-slider-cont ss-slider-cont-next color-bg"><i class="fal fa-long-arrow-right"></i></div>
                    </div>
                </div>
                <!-- blog media end -->
                <div class="blog-text fl-wrap">
               
                    <p>
                        {{ page.intro }}
                    </p>
                    <blockquote>
                        <p> {% for child in self.body %}
                            {% if child.block_type == 'heading' %}
                                <h2>{{ child }}</h2>
                            {% else %}
                                {{ child }}
                            {% endif %}
                        {% endfor %}   </p>
                    </blockquote>
                </div>
                <!-- post-author-->                                   
                <div class="post-author fl-wrap">
                    <div class="author-img">
                        {% for item in page.galleria.all %}  
                        {% image item.image_5 scale-100 as F0 %}
                        <img alt='' src="{{ F0.url }}">	
                        {% endfor %}
                    </div>
                    <div class="author-content">
                        <h5><a href="#">Juan Silva</a></h5>
                        <p>At one extremity the rope was unstranded, and the separate spread yarns were all braided and woven round the socket of the harpoon; the pole was then driven hard up into the socket; from the lower end the rope was traced half-way along the pole’s length, and firmly secured so, with intertwistings of twine.</p>
                        <div class="author-social">
                            <ul>
                                {% if settings.webapp_0.SocialMediaSettings.facebook %}
                                <li><a href="{{ settings.webapp_0.SocialMediaSettings.facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                {% endif %}
                                {% if settings.webapp_0.SocialMediaSettings.instagram %}
                                <li><a href="{{ settings.webapp_0.SocialMediaSettings.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                {% endif %}
                                {% if settings.webapp_0.SocialMediaSettings.twitter %}
                                <li><a href="{{ settings.webapp_0.SocialMediaSettings.twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                {% endif %}
                                {% if settings.webapp_0.SocialMediaSettings.linkedin %}
                                <li><a href="{{ settings.webapp_0.SocialMediaSettings.linkedin }}" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                {% endif %}
                                {% if settings.webapp_0.SocialMediaSettings.behance %}
                                <li><a href="{{ settings.webapp_0.SocialMediaSettings.behance }}" target="_blank"><i class="fab fa-behance"></i></a></li>
                                {% endif %}
                                {% if settings.webapp_0.SocialMediaSettings.youtube %}
                                <li><a href="{{ settings.webapp_0.SocialMediaSettings.youtube }}" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                {% endif %}
                                <li><a href="https://api.whatsapp.com/send?phone=593984534954" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="mailto:info@juansilvaphoto.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--post-author end-->
                <a href="{% pageurl page.get_parent %}" class="btn fl-btn">Where to Watch</a>
                <!--comments end -->
            </div>
            <!-- post end-->
        </div>
    </section>
    <!--section end  -->	
    <!--footer -->			

    <!--footer end  -->	
</div>
</div>

{% endblock %}